body{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-image: url("https://i.pinimg.com/736x/bd/d1/53/bdd15371cb245054a9828e5993866de3.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}
.calculatorContainer{
    background-color: rgb(183, 183, 183);
    height:700px;
    width:500px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.display{
    background-color:rgb(52, 65, 177);
    height:200px;
    width:450px;
    color:white;
}

.numpad{
    background-color:grey;
    height:450px;
    width:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-evenly;
}
.number{
    width:100px;
    height:100px;
}

.zero{
    width:210px;
    height:100px;
}

.operator{
    width:100px;
    height:100px;
    background-color: orange;
}
